.task-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Adjust the gap between items as needed */
    list-style-type: none;
    padding: 20px;
    max-width: 100%; 
    align-items: center;
    justify-content: center;
    margin: 0; 

  }
  
  .task-list li {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    background: linear-gradient(
      90deg,
      rgb(240, 11, 209) 0%,
      rgb(177, 39, 161) 100%
  );
  box-sizing: flex;
  min-width: 230px;
  
    
  }
  .task-list li:nth-child(4n+1){
    background: linear-gradient(
        90deg,
        rgb(99, 78, 235) 0%,
        rgb(129, 58, 228) 100%
    );
}
.task-list li:nth-child(4n+2){
  background: linear-gradient(
      90deg,
      rgb(10, 220, 122) 0%,
      rgb(19, 161, 190) 100%
  );
  
}
.task-list li:nth-child(4n+3){
  background: linear-gradient(
      90deg,
      rgb(238, 4, 11) 0%,
      rgb(197, 142, 124) 100%
  );
}
